.header-article-city, .header-article-region{
    background-size: cover;
    display: block;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Cuprum', sans-serif;
}
.header-article-city h1, .header-article-region h1{
    margin: 0;
    padding-top: 200px;
}
.header-article-city h2, .header-article-region h2{
    padding-bottom: 200px;
}
.comment-article{
    margin: 0 auto;
    min-height: 150px;
    width: 600px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 50px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.user_comment{
    display: inline-block;
    float: left;
    padding-right: 20px;
}
.user_comment span{
    display: block;
}
.button_forComment{
    display: inline;
    padding-left: 270px;
}
.date_comment{
    size: 12px;
    color: #808080;
    padding-top: 10px; 
}
.main_comment {
    border-radius: 50px;
    border: 1px solid black;
}
.add-comment{
    text-align: center;
    margin: 0 auto;
    min-height: 150px;
    width: 800px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 50px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.add-comment textarea {
    display: block;
    margin: 0px auto;
    width: 600px;
    height: 70px;
}
.add-comment span {
    margin-top: 20px;
}


/*          For Hover button            */
.buttonHover {
    display: inline-block;
    color: #808080;
    transition: color 1s;
    cursor: pointer;
}
.buttonHover:hover {
    color: aqua;
}