a, a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}

a:hover{
    cursor: pointer;
}

video {
    position: fixed;
    width: 100%;
    
    z-index: -100;
    /*filter: grayscale(100%)*/
}

body{
    margin: 0;
}

.container {
    padding-top: 20px;
}

.siteName{
    text-align: center;
    color: yellow;
    padding-top: 250px;
}

h1 {
    font-size: 80px;
}

h3 {
    font-size: 30px;
}


/*HEADER*/

header {
    height: 100%;
    padding-top: 20px;
    padding-top: 100px;
    position: fixed;
    width: 360px;
    color: black;
    left: -315px;
    transition: 0.5s;
    z-index: 9999;
    background: rgba(0, 89, 179,0.5);
    animation: shining 2.5s infinite;
}

@keyframes shining {
  0% {
    border-right: 45px solid rgba(0, 89, 179,0);
  }

  50% {
    border-right: 45px solid rgba(0, 89, 179,1);
  }

  100% {
    border-right: 45px solid rgba(0, 89, 179,0);
  }
}

header:hover {
    left: 0;
    animation: none;
}

.main-menu ul {
    list-style-type: none;
    padding-left: 0;
}

.main-menu li {
    font-size: 24px;
    padding: 30px 0;
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
}

.main-menu button {
    margin-left: 30px;
}

.main-menu li span {
    cursor: pointer;
}

.main-menu li:hover {
    background: rgba(0, 89, 179,0.8);
}

.main-menu .account {
    
}

nav button {
    background: none;
    font-size: 15px;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    float: right;
    margin-top: 10px;
}



/*Main Header*/

.background {
    background-image: url(../image/sea.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.main-header {
    position: fixed;
    color: white;
}

.main-header .siteName {
    padding-top: 150px;
    color: rgba(255,255,255, 0.6);
}

.main-header-menu {
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.main-header-menu li {
    display: inline-block;
    width: 24%;
    font-size: 30px;
    padding: 80px 0;
    background: rgba(255,255,255, 0.6);
    box-sizing: border-box;
    margin-right: -4px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.main-header-menu li:first-child {
    border-radius: 80px 0 0 80px;
}

.main-header-menu li:last-child {
    border-radius: 0 80px 80px 0;
}

.main-header-menu li a {
    position: absolute;
    right: 275px;
    color: white;
    top: 60px;
    transition: 0.5s;
}

.main-header-menu li i {
    position: absolute;
    left: 115px;
    color: white;
    top: 65px;
    transition: 0.5s;
}

.main-header-menu span {
    position: absolute;
    right: 280px;
    top: 60px;
    transition: 0.5s;
}

.main-header-menu li:hover {
    background: rgba(255,255,255, 0.8);
}

.main-header-menu li:hover a {
    right: 90px;
}

.main-header-menu li:first-child:hover a {
    right: 70px;
}

.main-header-menu li:last-child:hover a {
    right: 20px;
}

.main-header-menu li:last-child a {
    width: 226px;
}

.main-header-menu li:last-child:hover span {
    right: 100px;
}

.main-header-menu li:hover i {
    left: 275px;
}




 /*USERS ACCOUNT styles*/

 /*First Block*/

 .first-row {
    padding: 30px;
    padding-bottom: 0;
    margin-bottom: 50px;
    background: rgba(255,255,255,0.7);
    border-radius: 50px;
 }

 .first-row input {
    /*display: inline-block;*/
 }

 .first-row img {
    width: 220px;
    height: 220px;
    border: 5px solid #00FFFF;
    border-color: rgba(0, 0, 139, 0.4);
    border-radius: 110px;
    box-shadow: 3px;
 }

 .first-row .user-name {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    text-align: center;
 }

 .change-user-data {
    padding-top: 55px;
 }

 .change-password, .change-email {
    height: 50%;
 }

 .change-password > button, .change-email > button {
    margin-bottom: 20px;
 }

 #change-password-form, #change-email-form {
    display: none;
 }

 #change-password-form input {
    margin: 10px 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    background: none;
 }

 #change-email-form input {
    margin: 10px 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    background: none;
 }



 /*____________________*/

 /*    Second Block     */

 /*Trip*/

 .trips {
    background: rgba(255,255,255,0.7);
    border-radius: 50px;
    padding: 30px 50px;
    margin-bottom: 50px;
 }

 .trips > span {
    font-size: 30px;
 }

 .trips ol li {
    font-size: 20px;
    padding: 10px;
 }

 .trip-planner {
    text-align: center;
    border-radius: 20px;
    background: #1E90FF;
    padding: 30px;
 }

 .trip-planner > div {
    margin-bottom: 40px;
 }

 .trip-planner ol {
    list-style-type: none;
    min-height: 20px;
 }

 .trip-planner .trip ol {
    padding-bottom: 20px;
    min-height: 20px;
    vertical-align: top;
    background: rgba(255, 255, 255, 0.7);
 }

 .trip-planner ol li  {
    cursor: move;
    text-align: center;
    background: #DCDCDC;
    margin: 5px 0; 
    border-radius: 10px;
    padding: 6px;
    font-size: 20px;
 }

 #plane-trip-list1 li {
    background: rgba(34, 139, 34, 0.6);
 }

 #plane-trip-list2 li {
    background: rgba(178, 34, 34, 0.6);
 }



 /*Article*/

 .articles {
    background: rgba(255,255,255,0.7);
    border-radius: 50px;
    padding: 30px 50px;
    margin-bottom: 50px;
 }

 .articles > span {
    font-size: 30px;
 }

 .articles ol li {
    font-size: 20px;
    padding: 7px;
 }

 .article-editor {
    background: #1E90FF;
    text-align: center;
 }

 .article-editor .article-title {
    text-align: center;
    font-size: 20px;
 }

 .article-editor input {
    background: #004d99;
    color: white;
 }

 .article-editor textarea {
    margin-top: 30px; 
 }





 /*Map*/

 .user-map {
    padding-top: 50px;
 }

 .angular-google-map-container { 
    height: 600px;
    margin-bottom: 50px;
    border-radius: 50px;
 }

 .marker_labels {
    color: white;
    font-size: 20px;
 }

 


 /* LOGIN form styles */

.login-form {

}